/src/css/dataTables.bootstrap4.css
/src/css/dataTables.uikit.min.css
/src/css/dataTables.uikit.css
/src/css/dataTables.foundation.min.css
/src/css/dataTables.bootstrap4.min.css
/src/css/jquery.dataTables_themeroller.css
/src/css/dataTables.bootstrap.min.css
/src/css/dataTables.bootstrap.css
/src/css/dataTables.foundation.css
/src/css/dataTables.semanticui.css
/src/css/dataTables.material.css
/src/css/jquery.dataTables.css
/src/css/jquery.dataTables.min.css
/src/css/dataTables.jqueryui.css
/src/css/dataTables.jqueryui.min.css
/src/css/dataTables.semanticui.min.css
/src/css/dataTables.material.min.css
/vendor/
/src/images/sort_asc.png
/src/images/sort_desc_disabled.png
/src/images/Sorting icons.psd
/src/images/sort_desc.png
/src/images/favicon.ico
/src/images/sort_asc_disabled.png
/src/images/sort_both.png
/src/js/dataTables.foundation.min.js
/src/js/dataTables.jqueryui.js
/src/js/dataTables.dataTables.min.js
/src/js/dataTables.foundation.js
/src/js/dataTables.material.js
/src/js/dataTables.bootstrap4.min.js
/src/js/jquery.js
/src/js/jquery.dataTables.min.js
/src/js/dataTables.bootstrap.js
/src/js/dataTables.dataTables.js
/src/js/dataTables.jqueryui.min.js
/src/js/dataTables.semanticui.js
/src/js/dataTables.uikit.js
/src/js/dataTables.bootstrap.min.js
/src/js/dataTables.uikit.min.js
/src/js/dataTables.material.min.js
/src/js/jquery.dataTables.js
/src/js/dataTables.semanticui.min.js
/src/js/dataTables.bootstrap4.js
/nbproject/private/
/Example/js/
/Example/css/
/Example/images/
/.build/
/composer.lock
/social-preview.png
/debian/.debhelper/
/debian/php-abraflexi-datatables/
debian/files

